<form class="mx-12">
    <h3 class="mt-5 text-slate-500 font-bold text-xl">
      Please fill in the date and time interval for which you would like
      to get all arriving and departing flights in all airports available
    </h3>
    <div class="border mt-12 flex flex-col items-center py-5">
      <div class="flex items-center gap-2 my-4">
        <p>Please Input Date:</p>
        <input
          type="date"
          class="w-40 border border-black rounded-md py-1"
        />
      </div>
      <div class="flex items-center gap-2 my-4">
        <p>From:</p>
        <input
          class="w-40 border border-black rounded-md py-1"
          type="time"
        />
      </div>
      <div class="flex items-center gap-2 my-4">
        <p>To:</p>
        <input
          class="w-40 border border-black rounded-md py-1"
          type="time"
        />
      </div>
      <input
        type="submit"
        value="submit"
        class="bg-indigo-500 w-40 py-2 rounded-md text-white capitalize"
      />
    </div>
  </form>
